body {
  background: url(../img/Background.avif);
}
h1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  /* -webkit-text-stroke-color: aliceblue; */
}
input :checked ~ img {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
img {
  transition: 1.5s;
}
.mo-bai,
.than-bai,
.ket-bai:link {
  color: blue;
}
.mo-bai,
.than-bai,
.ket-bai:visited {
  color: rgb(254, 3, 3);
}
